In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("SA/2016/Anon Week 1 Feedback - Singapore.csv")

In [3]:
df

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 22:24:53,2,3
1,6/27/2016 4:03:03,2,3
2,6/23/2016 22:13:04,3,3
3,6/23/2016 22:09:23,4,4
4,6/23/2016 22:11:39,4,4
5,6/23/2016 22:11:44,4,4
6,6/23/2016 22:13:25,4,3
7,6/23/2016 22:15:33,4,3
8,6/23/2016 22:41:02,4,4
9,6/23/2016 23:56:36,4,3
10,6/25/2016 22:17:48,4,3
11,6/23/2016 22:13:09,5,5